#Database
DB_NAME="fda_data"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD=""

# GCP
GCP_PROJECT_ID=""
GCP_BUCKET_NAME=""
GCP_SERVICE_ACCOUNT_KEY="/tmp/gcp-key.json"
LOCAL_GCP_SERVICE_ACCOUNT_KEY=""